/* <<<<< Google Font Part Start >>>>> */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* <<<<< Google Font Part End >>>>> */



/* <<<<< Root Part Start >>>>> */
:root {
    --color-primary: #F1654C;
    --color-secondary: #1B2533;
    --color-third: #445164;


    --font-family: "Inter", serif;

    --font-size-b1: 18px;
    --font-size-b2: 16px;


    --h1: 65px;
    --h2: 48px;
    --h3: 42px;
    --h4: 38px;
    --h5: 28px;
    --h6: 18px;
}

/* <<<<< Root Part End >>>>> */


/* <<<<< All Common Css Part Start >>>>> */
* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
h1{
    font-size: var(--h1);
    font-weight: 800;
}
h2{
    font-size: var(--h2);
    font-weight: 800;
}
h3{
    font-size: var(--h3);
    font-weight: 700;
}
h4{
    font-size: var(--h4);
    font-weight: 700;
}
h5{
    font-size: var(--h5);
    font-weight: 600;
}
h6{
    font-size: var(--h6);
    font-weight: 600;
}
p{
    font-weight: 400;
    line-height: 26px;
    font-size: var(--font-size-b1);
    color: var(--color-third);
}

/* <<<<< All Common Css Part End >>>>> */



/* <<<<< Navbar Css Part Start >>>>> */
#nav{
    padding: 29px 0;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav .nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav .nav_main .logo{
    width: 20%;
}
#nav .nav_main .menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .nav_main .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .nav_main .menu ul li{
    padding: 0 20px;
    border-right: 1px solid #D6DAE1;
}
#nav .nav_main .menu ul li:last-child {
    border-right: none;
}
#nav .nav_main .menu ul li a{
    color: var(--color-third);
    font-weight: 400;
    font-size: var(--font-size-b2);
    transition: all linear .3s;
}
#nav .nav_main .menu ul li a:hover{
    color: var(--color-primary);
}
#nav .nav_main .menu ul li a.active{
    color: var(--color-primary);
}
#nav .nav_main .login{
    width: 20%;
    display: flex ;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
#nav .nav_main .login button{
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#nav .nav_main .login button:hover{
    background: transparent;
    color: var(--color-primary);
}
#nav .nav_main .login img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}

/* <<<<< Navbar Css Part End >>>>> */



/* Banner Css Part Start */
#banner{
    background-image: url(../images/Banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner .banner_main{
    padding: 172px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#banner .banner_main .banner_left{
    width: 50%;
}
#banner .banner_main .banner_left h1{
    color: var(--color-secondary);
}
#banner .banner_main .banner_left h1 span{
    color: var(--color-primary);
}
#banner .banner_main .banner_left p{
    padding: 20px 20px 20px 0;
}
#banner .banner_main .banner_left button{
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#banner .banner_main .banner_left button:hover{
    background: transparent;
    color: var(--color-primary);
}
#banner .banner_main .banner_right{
    display: flex;
    justify-content: end;
    align-items: center;
}
/* Banner Css Part End */



/* ClanBook Css Part Start */
#clanbook{
    padding: 55px 0;
}
#clanbook .clanbook_main .clanbook_header{
    text-align: center;
}
#clanbook .clanbook_main .clanbook_header h2{
    color: var(--color-secondary);
}
#clanbook .clanbook_main .clanbook_header span{
    color: var(--color-primary);
}
#clanbook .clanbook_main .clanbook_bottom{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_left{
    width: 50%;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right{
    width: 50%;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right .item{
    display: flex;
    gap: 5px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right button{
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
    display: flex;
    align-items: center;
    gap: 10px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right button:hover{
    background: transparent;
    color: var(--color-primary);
}
/* ClanBook Css Part End */

