/* <<<<< Google Font Part Start >>>>> */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* <<<<< Google Font Part End >>>>> */



/* <<<<< Root Part Start >>>>> */
:root {
    --color-primary: #F1654C;
    --color-secondary: #1B2533;
    --color-third: #445164;


    --font-family: "Inter", serif;

    --font-size-b1: 18px;
    --font-size-b2: 16px;


    --h1: 65px;
    --h2: 48px;
    --h3: 42px;
    --h4: 38px;
    --h5: 28px;
    --h6: 18px;
}

/* <<<<< Root Part End >>>>> */


/* <<<<< All Common Css Part Start >>>>> */
* {
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

img{
    vertical-align: middle;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,ol{
    list-style: none;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
h1{
    font-size: var(--h1);
    font-weight: 800;
}
h2{
    font-size: var(--h2);
    font-weight: 800;
}
h3{
    font-size: var(--h3);
    font-weight: 700;
}
h4{
    font-size: var(--h4);
    font-weight: 700;
}
h5{
    font-size: var(--h5);
    font-weight: 600;
}
h6{
    font-size: var(--h6);
    font-weight: 600;
}
p{
    font-weight: 400;
    line-height: 26px;
    font-size: var(--font-size-b1);
    color: var(--color-third);
}

/* <<<<< All Common Css Part End >>>>> */



/* <<<<< Navbar Css Part Start >>>>> */
#nav{
    padding: 29px 0;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#nav .menu_icon{
    display: none;
}
#nav .nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav .nav_main .logo{
    width: 20%;
}
#nav .nav_main .menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .nav_main .menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .nav_main .menu ul li{
    padding: 0 20px;
    border-right: 1px solid #D6DAE1;
}
#nav .nav_main .menu ul li:last-child {
    border-right: none;
}
#nav .nav_main .menu ul li a{
    color: var(--color-third);
    font-weight: 400;
    font-size: var(--font-size-b2);
    transition: all linear .3s;
}
#nav .nav_main .menu ul li a:hover{
    color: var(--color-primary);
}
#nav .nav_main .menu ul li a.active{
    color: var(--color-primary);
}
#nav .nav_main .login{
    width: 20%;
    display: flex ;
    gap: 20px;
    justify-content: end;
    align-items: center;
}
#nav .nav_main .login button{
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#nav .nav_main .login button:hover{
    background: transparent;
    color: var(--color-primary);
}
#nav .nav_main .login img{
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 50%;
}

/* <<<<< Navbar Css Part End >>>>> */



/* Banner Css Part Start */
#banner{
    background-image: url(../images/Banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner .banner_main{
    padding: 172px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
#banner .banner_main .banner_left h1{
    color: var(--color-secondary);
}
#banner .banner_main .banner_left h1 span{
    color: var(--color-primary);
}
#banner .banner_main .banner_left p{
    padding: 20px 20px 20px 0;
}
#banner .banner_main .banner_left button{
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#banner .banner_main .banner_left button:hover{
    background: transparent;
    color: var(--color-primary);
}
#banner .banner_main .banner_right{
    display: flex;
    justify-content: end;
    align-items: center;
}
/* Banner Css Part End */



/* ClanBook Css Part Start */
#clanbook{
    padding: 55px 0;
}
#clanbook .clanbook_main .clanbook_header{
    text-align: center;
}
#clanbook .clanbook_main .clanbook_header h2{
    color: var(--color-secondary);
}
#clanbook .clanbook_main .clanbook_header span{
    color: var(--color-primary);
}
#clanbook .clanbook_main .clanbook_bottom{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right .item{
    display: flex;
    gap: 5px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right button{
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
    display: flex;
    align-items: center;
    gap: 10px;
}
#clanbook .clanbook_main .clanbook_bottom .clanbook_right button:hover{
    background: transparent;
    color: var(--color-primary);
}
/* ClanBook Css Part End */


/* ClanBooker Css Part Start */
#clanbooker{
    padding: 50px 0;
    background: url(../images/clanbooker.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#clanbooker .clanbooker_main{
    background: #fff;
    text-align: center;
    padding: 70px 170px;
    border-radius: 16px;
}
#clanbooker .clanbooker_main h3 span{
    color: var(--color-primary);
}
#clanbooker .clanbooker_main p{
    padding: 25px 100px;
}
#clanbooker .clanbooker_main button{
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#clanbooker .clanbooker_main button:hover{
    background: transparent;
    color: var(--color-primary);
}
/* ClanBooker Css Part End */


/* Experience Css Part Start */
#experience{
    padding: 50px 0;
}
#experience .experience_main .experience_header{
    text-align: center;
}
#experience .experience_main .experience_header h2 span{
    color: var(--color-primary);
}
#experience .experience_main .experience_header p{
    padding: 16px 0;
}
#experience .experience_main .experience_contact{
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: 25px 0;
}
#experience .experience_main .experience_contact .item{
    width: 242px;
    height: 180px;
    padding: 35px 60px;
    border-radius: 16px;
    background: #EAECF0;
    cursor: pointer;
    border: 1px solid #EAECF0;
    transition: all linear .3s;
    margin-bottom: 12px;
}
#experience .experience_main .experience_contact .item:hover{
    background: transparent;
}
#experience .experience_main .experience_contact p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}
/* Experience Css Part End */



/* Offer Css Part Start */
#offer{
    padding: 50px 0;
    background: #F5F6F7;
}
#offer .offer_main .offer_header{
    text-align: center;
}
#offer .offer_main .offer_header h2 span{
    color: var(--color-primary);
}
#offer .offer_main .offer_header p{
    padding: 16px 0;
}
#offer .offer_main .offer_bottom{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 40px;
}
#offer .offer_main .offer_bottom .offer_left{
    width: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 60px;
}
#offer .offer_main .offer_bottom .offer_left .item{
    display: flex ;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}
#offer .offer_main .offer_bottom .offer_left .item p{
    font-weight: 400;
}
#offer .offer_main .offer_bottom .offer_left button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 30px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
    margin-top: 35px;
}
#offer .offer_main .offer_bottom .offer_left button:hover{
    background: transparent;
    color: var(--color-primary);
}
#offer .offer_main .offer_bottom .offer_left button .right{
    height: 20px; 
    width: 20px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#offer .offer_main .offer_bottom .offer_right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#offer .offer_main .offer_bottom .offer_right .item{
    padding: 40px 50px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all linear .3s;
    cursor: pointer;
}
#offer .offer_main .offer_bottom .offer_right .item:hover{
    background: var(--color-primary);
}
#offer .offer_main .offer_bottom .offer_right .item .item_left{
    display: flex;
    align-items: center;
    gap: 20px;
}
#offer .offer_main .offer_bottom .offer_right .item .item_left img{
    border-radius: 5px;
}
#offer .offer_main .offer_bottom .offer_right h4{
    font-size: 30px;
}
#offer .offer_main .offer_bottom .offer_right .item .item_left h4{
    color: var(--color-primary);
    transition: all linear .3s;
}

#offer .offer_main .offer_bottom .offer_right .item:hover  h4{
    transition: all linear .3s;
}
#offer .offer_main .offer_bottom .offer_right .item:hover  h4{
    color: #fff;
}
#offer .offer_main .offer_bottom .offer_right .item .item_left p{
    transition: all linear .3s;
}
#offer .offer_main .offer_bottom .offer_right .item:hover .item_left p{
    color: #fff;
}
#offer .offer_main .offer_bottom .offer_right .item:hover .item_left h4{
    color: #fff;
}
#offer .offer_main .offer_bottom .offer_right .item  h4 span{
    font-size: 16px;
    font-weight: 400;
}
/* Offer Css Part End */


/* Community Css Part Start */
#community{
    padding: 50px 0;
}
#community .community_header{ 
    text-align: center;
}
#community .community_header h2 span{ 
    color: var(--color-primary);
}
#community .community_header p{ 
    padding: 16px 280px;
}
#community .community_item{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 0;
}
#community .community_item .item{ 
    padding: 30px;
    border-radius: 16px;
    background: #F5F6F7;
    width: 425px;
}
#community .community_item .item .profile{ 
    display: flex;
    align-items: center;
    gap: 15px;
}
#community .community_item .item .profile .profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-primary); 
    cursor: pointer;
}
#community .community_item .item .rating{
    color: var(--color-primary);
    padding: 15px 0;
}
#community .community_main .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#community .community_main .btn button{
    width: 120px;
    padding: 15px 0;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
    transition: all linear .3s;
}
#community .community_main .btn button.prev{
    color: var(--color-primary);
    background: transparent;
}
#community .community_main .btn button.prev:hover{
    background: var(--color-primary);
    color: #fff;
}
#community .community_main .btn button.nex:hover{
    background: transparent;
    color: var(--color-primary);
}
/* Community Css Part End */


/* Footer Part Start */
#footer{
    padding: 60px 0;
    background: #F5F6F7
}
#footer .footer_main .subscrib{
    background: var(--color-primary);
    border-radius: 16px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_main .subscrib .subscrib_left{
    width: 60%;
    display: flex;
    align-items: center;
    gap: 15px;
}
#footer .footer_main .subscrib .subscrib_left .email{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background: #fff;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 25px;
}
#footer .footer_main .subscrib .subscrib_left .email_inf,#footer .footer_main .subscrib .subscrib_left .email_inf p{
    color: #fff;
}
#footer .footer_main .subscrib .subscrib_right{
    width: 40%;
}
#footer .footer_main .subscrib .subscrib_right .email_input{
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_main .subscrib .subscrib_right .email_input .input input{
    font-size: 16px;
    color: #ABAEBB;
    border: none;
}
#footer .footer_main .subscrib .subscrib_right .btn button{
    padding: 6px 12px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    background: var(--color-primary);
    color: #fff;
    transition: all linear .3s;
    cursor: pointer;
    font-weight: 500;
    font-size: var(--font-size-b2);
}
#footer .footer_main .subscrib .subscrib_right .btn button:hover{
    background: transparent;
    color: var(--color-primary);
}
#footer .footer_main .footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}
#footer .footer_main .footer_bottom .left{
    width: 30%;
}
#footer .footer_main .footer_bottom .left p{
    padding: 20px 50px 20px 0;
}
#footer .footer_main .footer_bottom .left .icons{
    display: flex;
    align-items: center;
    gap: 15px;
}
#footer .footer_main .footer_bottom .left .icons .icon{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: all linear .3s;
}
#footer .footer_main .footer_bottom .left .icons .icon:hover{
    color: #fff;
    background: var(--color-primary);
}
#footer .footer_main .footer_bottom .right{
    width: 70%;
}
#footer .footer_main .footer_bottom .right .items{
    display: flex;
    justify-content: space-between;
}
#footer .footer_main .footer_bottom .right .items .item h6{
    font-weight: 800;
    text-transform: capitalize;
}
#footer .footer_main .footer_bottom .right .items .item ul li{
    padding: 5px 0 ; 
}
#footer .footer_main .footer_bottom .right .items .item ul li a{
    color: var(--color-third);
    transition: all linear .3s;
    text-transform: capitalize;
}
#footer .footer_main .footer_bottom .right .items .item ul li a:hover{
    color: var(--color-primary);
}
#copyright{
    padding: 16px 0;
    background: var(--color-primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#copyright h6{
    cursor: pointer;
}
/* Footer Part End */




/* <<<<<<<Responsive Part Start>>>>>>> */
@media (max-width: 1199.98px) {
    .container{
        width: 1140px;
        margin: 0 auto;
    }
    p{
        font-size: 16px;
    } 
    #nav {
        padding: 18px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .nav_main .login button {
        padding: 12px 20px;
        border-radius: 8px;
        font-size: 14px;
    }
    
    #banner .banner_main{
        padding: 140px 10px 70px 10px;
        text-align: center;
    }
    /* #banner .banner_main .banner_left{
        width: 50%;
        padding: 0 20px;
    } */
    #banner .banner_main .banner_left h1{
        font-size: var(--h1);
        text-align: center;
    }
    #banner .banner_main .banner_left p{
        padding: 8px 0px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        width: 450px;
    }
    #banner .banner_main .banner_left button {
        padding: 14px 18px;
        font-size: 13px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbooker .clanbooker_main {
        padding: 30px 20px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 14px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 450px;
    }
    #clanbooker .clanbooker_main p {
        font-size: 15px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 12px 18px;
        font-size: 13px;
    }

    #experience .experience_main .experience_contact .item {
        width: 200px;
        height: 160px;
        padding: 18px;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 12px 18px;
        font-size: 13px;
        margin-top: 20px;
    }
    
    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 110px;
    }
    #community .community_item {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 20px;
        border-radius: 10px;
        width: 400px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 140px;
        padding: 12px 18px;
        font-size: 13px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 20px 10px;
    }
}
@media (max-width: 991.98px) {
    .container{
        width: 960px;
        margin: 0 auto;
    }
    p{
        font-size: 16px;
    } 
    #nav {
        padding: 15px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .nav_main .login button {
        padding: 12px 18px;
        border-radius: 5px;
        font-size: 12px;
    }
    #nav .nav_main .menu ul li {
        padding: 0 10px;
    }
    #nav .nav_main .menu ul li a {
        font-size: 18px;
    }
    #banner .banner_main{
        padding: 140px 10px 70px 10px;
        text-align: center;
    }
    #banner .banner_main .banner_left{
        width: 50%;
    }
    #banner .banner_main .banner_left h1{
        font-size: var(--h3);
        text-align: center;
    }
    #banner .banner_main .banner_left p{
        padding: 5px 0px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        width: 450px;
    }
    #banner .banner_main .banner_left button {
        padding: 10px 15px;
        font-size: 12px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 450px;
    }
    #clanbooker .clanbooker_main p {
        font-size: 15px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 12px;
    }

    #experience .experience_main .experience_contact .item {
        width: 180px;
        height: 150px;
        padding: 15px 15px;
    }
    #clanbooker .clanbooker_main {
        padding: 30px 20px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 14px;
    }
   
    #offer .offer_main .offer_bottom .offer_left .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    #offer .offer_main .offer_bottom .offer_right {
        width: 50%;
    }
    #offer .offer_main .offer_bottom .offer_right .item {
        padding: 25px 30px;
        margin: 10px 0;
    }
    #offer .offer_main .offer_bottom .offer_right h4 {
        font-size: 18px;
    }

    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 24px;
    }
    #community .community_item {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 10px;
        border-radius: 10px;
        width: 380px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 120px;
        padding: 10px 15px;
        font-size: 12px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 20px 10px;
    }
}
@media (max-width: 767.98px) {
    .container{
        width: 750px;
        margin: 0 auto;
    }

    h1{
        font-size: var(--h1);
    }
    h2{
        font-size: var(--h4);
    }
    h3{
        font-size: var(--h5);
    }
    p{
        font-size: 18px;
    }
    #nav {
        padding: 15px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .nav_main .login button {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 12px;
    }
    #nav .nav_main .menu ul li {
        padding: 0 5px;
    }
    #nav .nav_main .menu ul li a {
        font-size: 13px;
    }
    #banner .banner_main{
        padding: 140px 10px 70px 10px;
        text-align: center;
    }
    #banner .banner_main .banner_left{
        width: 100%;
    }
    #banner .banner_main .banner_left h1{
        font-size: var(--h3);
        text-align: center;
    }
    #banner .banner_main .banner_left p{
        padding: 5px 30px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        display: none ;
    }
    #banner .banner_main .banner_left button {
        padding: 10px 15px;
        font-size: 12px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbook .clanbook_main .clanbook_header p {
        padding: 5px 135px;
    }
    #clanbook .clanbook_main .clanbook_bottom {
        padding: 30px 0;
        display: block;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left{
        display: flex ;
        justify-content: center;
        align-items: center;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 550px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right{
        width: 100%;
        margin-top: 20px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 12px;
    }
    #clanbooker .clanbooker_main {
        padding: 30px 26px;
        border-radius: 8px;
    }
    #clanbooker .clanbooker_main p {
        padding: 15px 15px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 12px;
    }

    #experience .experience_main .experience_contact .item {
        width: 180px;
        height: 150px;
        padding: 15px 15px;
    }
    #experience .experience_main .experience_header p {
        padding: 6px 30px;
    }
    #experience .experience_main .experience_contact {
        justify-content: center;
    }
    #offer .offer_main .offer_header p {
        padding: 6px 30px;
    }
    #offer .offer_main .offer_bottom {
        display: block;
        margin-top: 0px;
    }
    #offer .offer_main .offer_bottom .offer_left {
        width: 100%;
        padding: 15px;
    }
    #offer .offer_main .offer_bottom .offer_left .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    #offer .offer_main .offer_bottom .offer_right {
        width: 100%;
        display: block;
    }
    #offer .offer_main .offer_bottom .offer_right .item {
        padding: 25px 30px;
        margin: 10px 0;
    }
    #offer .offer_main .offer_bottom .offer_right h4 {
        font-size: 18px;
    }

    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 24px;
    }
    #community .community_item {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 10px;
        border-radius: 10px;
        width: 350px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 80px;
        padding: 8px 6px;
        font-size: 12px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 20px 10px;
        display: block;
    }
    #footer .footer_main .subscrib .subscrib_left {
        width: 100%;
        display: flex;
    }
    #footer .footer_main .subscrib .subscrib_left .email {
        height: 45px;
        width: 45px;
        border-radius: 6px;
    }
    #footer .footer_main .subscrib .subscrib_right {
        width: 100%;
    }
    #footer .footer_main .subscrib .subscrib_right .email_input {
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0 0 0;
    }
    #footer .footer_main .subscrib .subscrib_right .btn button {
        padding: 4px 10px;
        font-size: 12px;
    }
    #footer .footer_main .footer_bottom {
        display: block;
        margin-top: 25px;
    }
    #footer .footer_main .footer_bottom .left {
        width: 100%;
        text-align: center;
    }
    #footer .footer_main .footer_bottom .left p {
        padding: 10px  30px;
    }
    #footer .footer_main .footer_bottom .left .icons {
        justify-content: center;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right {
        width: 100%;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right .items {
        flex-wrap: wrap;
    }
    #footer .footer_main .footer_bottom .right .items .item h6 {
        font-size: 14px;
    }
    #footer .footer_main .footer_bottom .right .items .item ul li a {
        font-size: 12px;
    }
    #copyright {
        padding: 12px 0;
        display: block;
        font-size: 12px;
        text-align: center;
    }
    #copyright h6{
        padding: 4px 0;
        font-size: 15px;
    }
}
@media (max-width: 575.98px) {
    .container{
        width: 550px;
        margin: 0 auto;
    }

    h1{
        font-size: var(--h2);
        font-weight: 800;
    }
    h2{
        font-size: var(--h4);
        font-weight: 800;
    }
    h3{
        font-size: var(--h6);
        font-weight: 700;
    }
    p{
        font-size: 15px;
    }
    #nav {
        padding: 15px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .menu_icon{
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-size: 25px;
    }
    #nav .menu_icon img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    #nav .menu_icon .bar{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .close{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .menu_active{
        display: block;
    }

    #nav .nav_main {
        display: block;
    }
    #nav .nav_main .logo {
        width: 100%;
    }
    #nav .nav_main .menu {
        width: 100%;
        display: none;
    }
    #nav .nav_main .menu ul {
        display: block;
    }
    #nav .nav_main .menu ul li {
        padding: 4px 0;
    }
    #nav .nav_main .login {
        width: 100%;
        justify-content: left;
        display: none;
    }
    #nav .nav_main .login button {
        padding: 10px 15px;
        font-size: 12px;
    }
    #nav .nav_main .login img {
        display: none;
    }
    #banner .banner_main{
        padding: 140px 10px 70px 10px;
        text-align: center;
    }
    #banner .banner_main .banner_left{
        width: 100%;
    }
    #banner .banner_main .banner_left h1{
        font-size: var(--h3);
        text-align: center;
    }
    #banner .banner_main .banner_left p{
        padding: 5px 30px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        display: none ;
    }
    #banner .banner_main .banner_left button {
        padding: 10px 15px;
        font-size: 12px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbook .clanbook_main .clanbook_header p {
        padding: 5px 30px;
    }
    #clanbook .clanbook_main .clanbook_bottom {
        padding: 30px 0;
        display: block;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 550px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right{
        width: 100%;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 12px;
    }
    #clanbooker .clanbooker_main {
        padding: 30px 26px;
        border-radius: 8px;
    }
    #clanbooker .clanbooker_main p {
        padding: 15px 15px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 12px;
    }

    #experience .experience_main .experience_contact .item {
        width: 180px;
        height: 150px;
        padding: 15px 15px;
    }
    #experience .experience_main .experience_header p {
        padding: 6px 30px;
    }
    #experience .experience_main .experience_contact {
        justify-content: center;
    }
    #offer .offer_main .offer_header p {
        padding: 6px 30px;
    }
    #offer .offer_main .offer_bottom {
        display: block;
        margin-top: 0px;
    }
    #offer .offer_main .offer_bottom .offer_left {
        width: 100%;
        padding: 15px;
    }
    #offer .offer_main .offer_bottom .offer_left .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    #offer .offer_main .offer_bottom .offer_right {
        width: 100%;
        display: block;
    }
    #offer .offer_main .offer_bottom .offer_right .item {
        padding: 25px 30px;
        margin: 10px 0;
    }
    #offer .offer_main .offer_bottom .offer_right h4 {
        font-size: 18px;
    }

    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 24px;
    }
    #community .community_item {
        display: block;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 10px;
        border-radius: 10px;
        width: 550px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 80px;
        padding: 8px 6px;
        font-size: 12px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 20px 10px;
        display: block;
    }
    #footer .footer_main .subscrib .subscrib_left {
        width: 100%;
        display: flex;
    }
    #footer .footer_main .subscrib .subscrib_left .email {
        height: 45px;
        width: 45px;
        border-radius: 6px;
    }
    #footer .footer_main .subscrib .subscrib_right {
        width: 100%;
    }
    #footer .footer_main .subscrib .subscrib_right .email_input {
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0 0 0;
    }
    #footer .footer_main .subscrib .subscrib_right .btn button {
        padding: 4px 10px;
        font-size: 12px;
    }
    #footer .footer_main .footer_bottom {
        display: block;
        margin-top: 25px;
    }
    #footer .footer_main .footer_bottom .left {
        width: 100%;
        text-align: center;
    }
    #footer .footer_main .footer_bottom .left p {
        padding: 10px  30px;
    }
    #footer .footer_main .footer_bottom .left .icons {
        justify-content: center;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right {
        width: 100%;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right .items {
        flex-wrap: wrap;
    }
    #footer .footer_main .footer_bottom .right .items .item h6 {
        font-size: 14px;
    }
    #footer .footer_main .footer_bottom .right .items .item ul li a {
        font-size: 12px;
    }
    #copyright {
        padding: 12px 0;
        display: block;
        font-size: 12px;
        text-align: center;
    }
    #copyright h6{
        padding: 4px 0;
        font-size: 15px;
    }
}
@media (max-width: 480.98px) {
    .container{
        width: 400px;
        margin: 0 auto;
    }

    h1{
        font-size: var(--h4);
        font-weight: 800;
    }
    h2{
        font-size: var(--h5);
        font-weight: 800;
    }
    h3{
        font-size: var(--h6);
        font-weight: 700;
    }
    p{
        font-size: 13px;
    }
    #nav {
        padding: 15px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .menu_icon{
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-size: 25px;
    }
    #nav .menu_icon img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    #nav .menu_icon .bar{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .close{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .menu_active{
        display: block;
    }

    #nav .nav_main {
        display: block;
    }
    #nav .nav_main .logo {
        width: 100%;
    }
    #nav .nav_main .menu {
        width: 100%;
        display: none;
    }
    #nav .nav_main .menu ul {
        display: block;
    }
    #nav .nav_main .menu ul li {
        padding: 4px 0;
    }
    #nav .nav_main .login {
        width: 100%;
        justify-content: left;
        display: none;
    }
    #nav .nav_main .login button {
        padding: 10px 15px;
        font-size: 12px;
    }
    #nav .nav_main .login img {
        display: none;
    }
    #banner .banner_main{
        padding: 140px 10px 70px 10px;
        text-align: center;
    }
    #banner .banner_main .banner_left h1{
        font-size: var(--h4);
        text-align: center;
        width: 380px;
    }
    #banner .banner_main .banner_left p{
        width: 380px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        display: none ;
    }
    #banner .banner_main .banner_left button {
        padding: 10px 15px;
        font-size: 12px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbook .clanbook_main .clanbook_bottom {
        padding: 30px 0;
        display: block;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 350px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right{
        width: 100%;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 12px;
    }
    #clanbooker .clanbooker_main {
        padding: 30px 26px;
        border-radius: 8px;
    }
    #clanbooker .clanbooker_main p {
        padding: 15px 15px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 12px;
    }

    #experience .experience_main .experience_contact .item {
        width: 180px;
        height: 150px;
        padding: 15px 15px;
    }
    #offer .offer_main .offer_bottom {
        display: block;
        margin-top: 0px;
    }
    #offer .offer_main .offer_bottom .offer_left {
        width: 100%;
        padding: 15px;
    }
    #offer .offer_main .offer_bottom .offer_left .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    #offer .offer_main .offer_bottom .offer_right {
        width: 100%;
        display: block;
    }
    #offer .offer_main .offer_bottom .offer_right .item {
        padding: 25px 30px;
        margin: 10px 0;
    }
    #offer .offer_main .offer_bottom .offer_right h4 {
        font-size: 18px;
    }

    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 24px;
    }
    #community .community_item {
        display: block;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 10px;
        border-radius: 10px;
        width: 400px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 80px;
        padding: 8px 6px;
        font-size: 12px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 10px;
        display: block;
    }
    #footer .footer_main .subscrib .subscrib_left {
        width: 100%;
        display: flex;
    }
    #footer .footer_main .subscrib .subscrib_left .email {
        height: 45px;
        width: 45px;
        border-radius: 6px;
    }
    #footer .footer_main .subscrib .subscrib_right {
        width: 100%;
    }
    #footer .footer_main .subscrib .subscrib_right .email_input {
        border-radius: 5px;
        padding: 10px;
    }
    #footer .footer_main .subscrib .subscrib_right .btn button {
        padding: 4px 10px;
        font-size: 12px;
    }
    #footer .footer_main .footer_bottom {
        display: block;
        margin-top: 25px;
    }
    #footer .footer_main .footer_bottom .left {
        width: 100%;
        text-align: center;
    }
    #footer .footer_main .footer_bottom .left p {
        padding: 10px  30px;
    }
    #footer .footer_main .footer_bottom .left .icons {
        justify-content: center;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right {
        width: 100%;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right .items {
        flex-wrap: wrap;
    }
    #footer .footer_main .footer_bottom .right .items .item h6 {
        font-size: 14px;
    }
    #footer .footer_main .footer_bottom .right .items .item ul li a {
        font-size: 11px;
    }
    #copyright {
        padding: 12px 0;
        display: block;
        font-size: 12px;
        text-align: center;
    }
    #copyright h6{
        padding: 4px 0;
        font-size: 15px;
    }
}
@media (max-width: 400.98px) {
    .container{
        width: 380px;
        margin: 0 auto;
    }

    h1{
        font-size: var(--h4);
        font-weight: 800;
    }
    h2{
        font-size: var(--h5);
        font-weight: 800;
    }
    h3{
        font-size: var(--h6);
        font-weight: 700;
    }
    p{
        font-size: 13px;
    }
    #nav {
        padding: 15px 0;
        position: relative;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #nav .menu_icon{
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        font-size: 25px;
    }
    #nav .menu_icon img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    #nav .menu_icon .bar{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .close{
        display: none;
        transition: all linear .4s;
        width: 40px;
    }
    #nav .menu_icon .menu_active{
        display: block;
    }

    #nav .nav_main {
        display: block;
    }
    #nav .nav_main .logo {
        width: 100%;
    }
    #nav .nav_main .menu {
        width: 100%;
        display: none;
    }
    #nav .nav_main .menu ul {
        display: block;
    }
    #nav .nav_main .menu ul li {
        padding: 4px 0;
    }
    #nav .nav_main .login {
        width: 100%;
        justify-content: left;
        display: none;
    }
    #nav .nav_main .login button {
        padding: 10px 15px;
        font-size: 12px;
    }
    #nav .nav_main .login img {
        display: none;
    }
    #banner .banner_main{
        padding: 140px 0px 70px 0px;
        text-align: center;
    }
    #banner .banner_main .banner_left h1{
        font-size: var(--h4);
        text-align: center;
    }
    #banner .banner_main .banner_left p{
        width: 380px;
        text-align: center;
    }
    #banner .banner_main .banner_right img{
        display: none ;
    }
    #banner .banner_main .banner_left button {
        padding: 10px 15px;
        font-size: 12px;
    }
    
    #clanbook {
        padding: 30px 0;
    }
    #clanbook .clanbook_main .clanbook_bottom {
        padding: 30px 0;
        display: block;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_left img{
        width: 350px;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right{
        width: 100%;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #clanbook .clanbook_main .clanbook_bottom .clanbook_right button {
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 12px;
    }
    #clanbooker .clanbooker_main {
        padding: 14px 10px;
        border-radius: 8px;
    }
    #clanbooker .clanbooker_main p {
        padding: 15px 15px;
    }
    #clanbooker .clanbooker_main button {
        padding: 10px 15px;
        font-size: 12px;
    }

    #experience .experience_main .experience_contact .item {
        width: 180px;
        height: 150px;
        padding: 15px 15px;
    }
    #offer .offer_main .offer_bottom {
        display: block;
        margin-top: 0px;
    }
    #offer .offer_main .offer_bottom .offer_left {
        width: 100%;
        padding: 15px;
    }
    #offer .offer_main .offer_bottom .offer_left .btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #offer .offer_main .offer_bottom .offer_left .btn button {
        padding: 10px 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    #offer .offer_main .offer_bottom .offer_right {
        width: 100%;
        display: block;
    }
    #offer .offer_main .offer_bottom .offer_right .item {
        padding: 25px 30px;
        margin: 10px 0;
    }
    #offer .offer_main .offer_bottom .offer_right h4 {
        font-size: 18px;
    }

    #community {
        padding: 30px 0;
    }
    #community .community_header p {
        padding: 10px 24px;
    }
    #community .community_item {
        display: block;
        padding: 20px 0;
    }
    #community .community_item .item {
        padding: 10px;
        border-radius: 10px;
        width: 380px;
        margin: 10px 0;
    }
    #community .community_main .btn button {
        width: 80px;
        padding: 8px 6px;
        font-size: 12px;
    }
    #footer {
        padding: 30px 0;
    }
    #footer .footer_main .subscrib {
        border-radius: 10px;
        padding: 10px;
        display: block;
    }
    #footer .footer_main .subscrib .subscrib_left {
        width: 100%;
        display: flex;
    }
    #footer .footer_main .subscrib .subscrib_left .email {
        height: 45px;
        width: 45px;
        border-radius: 6px;
    }
    #footer .footer_main .subscrib .subscrib_right {
        width: 100%;
    }
    #footer .footer_main .subscrib .subscrib_right .email_input {
        border-radius: 5px;
        padding: 10px;
    }
    #footer .footer_main .subscrib .subscrib_right .btn button {
        padding: 4px 10px;
        font-size: 12px;
    }
    #footer .footer_main .footer_bottom {
        display: block;
        margin-top: 25px;
    }
    #footer .footer_main .footer_bottom .left {
        width: 100%;
        text-align: center;
    }
    #footer .footer_main .footer_bottom .left p {
        padding: 10px  30px;
    }
    #footer .footer_main .footer_bottom .left .icons {
        justify-content: center;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right {
        width: 100%;
        padding: 10px 0;
    }
    #footer .footer_main .footer_bottom .right .items {
        flex-wrap: wrap;
    }
    #footer .footer_main .footer_bottom .right .items .item h6 {
        font-size: 14px;
    }
    #footer .footer_main .footer_bottom .right .items .item ul li a {
        font-size: 11px;
    }
    #copyright {
        padding: 12px 0;
        display: block;
        font-size: 12px;
        text-align: center;
    }
    #copyright h6{
        padding: 4px 0;
        font-size: 15px;
    }
}
/* <<<<<<<Responsive Part End>>>>>>> */

